<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.snapchat.kit.chickencam"
    >
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <!--
            To ensure that this test app works, make sure that in the
            <a href="https://kit.snapchat.com/portal">Snap Kit Portal</a>:

             1. you set your app's DEVELOPMENT Android Package ID to com.snapchat.kit.creativesample
             2. your Snapchat username is in the list of demo users

            Then you should paste your DEVELOPMENT OAuth2 Client ID on line 25 in "android value"
         -->
        <meta-data android:name="com.snapchat.kit.sdk.clientId" android:value="992b5b7b-676a-4a5f-890e-2fce599e42c1" />

        <activity android:name="com.snapchat.kit.chickencam.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />
        </provider>
    </application>

</manifest>