<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snapchat.kit.chickencam">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity2"></activity>
        <!--

        PASTE YOUR AUTH CODE IN LINE 20: android:value"PASTEAUTHCODE" />
        AFTER GO INTO SNAP KIT AND TYPE "COM.SNAPCHAT.KIT.CHICKENCAM" INTO PACKAGE NAME

        -->
        <meta-data
            android:name="com.snapchat.kit.sdk.clientId"
            android:value="" />
<!-- paste auth code here ^^^
        -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>